/*&bt BT_SEL 1
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "keys_se.h"
#include <dt-bindings/zmk/bt.h>

#include "../zmk-nodefree-config/helper.h"
#include "../zmk-nodefree-config/keypos_def/keypos_42keys.h"

#define DEFAULT 0
#define SWERTY 1
#define NUMBER 2
#define NAVIGATION 3
#define SYMBOLS 4
#define MISC 5

ZMK_CONDITIONAL_LAYER(NUMBER NAVIGATION, MISC)

#define KEYS_L LT0 LT1 LT2 LT3 LT4 LT5 LM0 LM1 LM2 LM3 LM4 LM5 LB0 LB1 LB2 LB3 LB4 LB5  // left-hand keys
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RT5 RM0 RM1 RM2 RM3 RM4 RM5 RB0 RB1 RB2 RB3 RB4 RB5  // right-hand keys
#define THUMBS LH0 LH1 LH2 RH0 RH1 RH2

/* left-hand HRMs */
ZMK_BEHAVIOR(hml, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <175>;                // repeat on tap-into-hold
    global-quick-tap;
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <KEYS_R THUMBS>;
    hold-trigger-on-release;             // delay positional check until key-release
)

/* right-hand HRMs */
ZMK_BEHAVIOR(hmr, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <175>;                // repeat on tap-into-hold
    global-quick-tap;
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <KEYS_L THUMBS>;
    hold-trigger-on-release;             // delay positional check until key-release
)

ZMK_LAYER(default,
// ╭─────────────────────────┬─────────────────────────┬─────────────────────────┬─────────────────────────┬─────────────────────────┬───────────────────────╮   ╭─────────────────────────┬─────────────────────────┬─────────────────────────┬─────────────────────────┬─────────────────────────┬───────────────────────╮
      &kp TAB                   &kp SE_Q                  &kp SE_W                  &kp SE_E                  &kp SE_R                  &kp SE_T                    &kp SE_Y                  &kp SE_U                  &kp SE_I                  &kp SE_O                  &kp SE_P                  &kp SE_CARET
// ├─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼───────────────────────┤   ├─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼───────────────────────┤
      &kp GREATER_THAN          &hml LGUI SE_A            &hml LALT SE_S            &hml LCTL SE_D            &hml LSFT SE_F            &kp SE_G                    &kp SE_H                  &hmr RSFT SE_J            &hmr LCTL SE_K            &hmr RALT SE_L            &hmr RGUI SE_APOS         &kp AMPS 
// ├─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼───────────────────────┤   ├─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼───────────────────────┤
      &kp LESS_THAN             &kp SE_Z                  &kp SE_X                  &kp SE_C                  &kp SE_V                  &kp SE_B                    &kp SE_N                  &kp SE_M                  &kp SE_COMMA              &kp SE_DOT                &kp SE_MINUS              &kp ESC
// ╰─────────────────────────┴─────────────────────────┴─────────────────────────┼─────────────────────────┼─────────────────────────┼───────────────────────╮   ╭─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┴─────────────────────────┴───────────────────────╯
                                                                                    &kp ESC                   &mo NUMBER                &lt NAVIGATION BSPC         &kp SPACE                 &kp TAB                   &kp ENTER
//                                                                               ╰─────────────────────────┴─────────────────────────┴───────────────────────╯   ╰─────────────────────────┴─────────────────────────┴─────────────────────────╯
)

ZMK_LAYER(swerty,
// ╭─────────────────────────┬─────────────────────────┬─────────────────────────┬─────────────────────────┬─────────────────────────┬───────────────────────╮   ╭─────────────────────────┬─────────────────────────┬─────────────────────────┬─────────────────────────┬─────────────────────────┬───────────────────────╮
      &trans                    &trans                    &trans                    &trans                    &trans                    &trans                      &trans                    &trans                    &trans                    &trans                    &trans                    &kp SE_A_RING
// ├─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼───────────────────────┤   ├─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼───────────────────────┤
      &trans                    &trans                    &trans                    &trans                    &trans                    &trans                      &trans                    &trans                    &trans                    &trans                    &hmr RGUI SE_O_UMLAUT     &kp SE_A_UMLAUT
// ├─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼───────────────────────┤   ├─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼───────────────────────┤
      &trans                    &trans                    &trans                    &trans                    &trans                    &trans                      &trans                    &trans                    &trans                    &trans                    &trans                    &trans
// ╰─────────────────────────┴─────────────────────────┴─────────────────────────┼─────────────────────────┼─────────────────────────┼───────────────────────╮   ╭─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┴─────────────────────────┴───────────────────────╯
                                                                                    &trans                    &trans                    &trans                      &trans                    &trans                    &trans
//                                                                               ╰─────────────────────────┴─────────────────────────┴───────────────────────╯   ╰─────────────────────────┴─────────────────────────┴─────────────────────────╯
)

ZMK_LAYER(number_layer,
// ╭─────────────────────────┬─────────────────────────┬─────────────────────────┬─────────────────────────┬─────────────────────────┬───────────────────────╮   ╭─────────────────────────┬─────────────────────────┬─────────────────────────┬─────────────────────────┬─────────────────────────┬───────────────────────╮
      &none                    &none                      &none                     &none                     &none                     &none                       &kp SE_FSLH               &kp SE_N7                 &kp SE_N8                 &kp SE_N9                 &kp KP_MULTIPLY           &kp SE_TILDE
// ├─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼───────────────────────┤   ├─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼───────────────────────┤
      &none                    &trans                     &trans                    &trans                    &trans                    &none                       &kp SE_EQUAL              &kp SE_N4                 &kp SE_N5                 &kp SE_N6                 &kp SE_MINUS              &kp SE_APOS           
// ├─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼───────────────────────┤   ├─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼───────────────────────┤
      &none                    &none                      &none                     &none                     &none                     &none                       &kp DELETE                &kp SE_N1                 &kp SE_N2                 &kp SE_N3                 &kp SE_PLUS               &kp SE_UMLAUT         
// ╰─────────────────────────┴─────────────────────────┴─────────────────────────┼─────────────────────────┼─────────────────────────┼───────────────────────╮   ╭─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┴─────────────────────────┴───────────────────────╯
                                                                                    &trans                    &trans                    &trans                      &trans                    &kp SE_N0                 &kp SE_N0               
//                                                                               ╰─────────────────────────┴─────────────────────────┴───────────────────────╯   ╰─────────────────────────┴─────────────────────────┴─────────────────────────╯
)

ZMK_LAYER(navigation_layer,
// ╭─────────────────────────┬─────────────────────────┬─────────────────────────┬─────────────────────────┬─────────────────────────┬───────────────────────╮   ╭─────────────────────────┬─────────────────────────┬─────────────────────────┬─────────────────────────┬─────────────────────────┬───────────────────────╮
      &none                    &none                      &none                     &none                     &none                     &none                       &none                     &kp PAGE_DOWN             &kp PAGE_UP               &none                     &none                     &none                 
// ├─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼───────────────────────┤   ├─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼───────────────────────┤
      &none                    &trans                     &trans                    &trans                    &trans                    &none                       &kp LEFT                  &kp DOWN                  &kp UP                    &kp RIGHT                 &none                     &none                 
// ├─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼───────────────────────┤   ├─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼───────────────────────┤
      &none                    &none                      &none                     &none                     &none                     &none                       &none                     &none                     &none                     &none                     &none                     &none                 
// ╰─────────────────────────┴─────────────────────────┴─────────────────────────┼─────────────────────────┼─────────────────────────┼───────────────────────╮   ╭─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┴─────────────────────────┴───────────────────────╯
                                                                                    &trans                    &trans                    &trans                      &trans                    &trans                    &trans                  
//                                                                               ╰─────────────────────────┴─────────────────────────┴───────────────────────╯   ╰─────────────────────────┴─────────────────────────┴─────────────────────────╯
)

// ZMK_LAYER(symbols_layer,

// ZMK_LAYER(raise_layer,
//    &trans       &kp SE_EXCL     &kp SE_AT     &kp SE_HASH   &kp SE_EURO        &kp SE_PRCNT      &trans          &trans          &trans             &trans         &trans             &trans
//    &trans       &kp SE_AMPS     &kp SE_SLASH  &kp SE_LPAR   &kp SE_RPAR        &kp SE_EQUAL      &kp LEFT        &kp DOWN        &kp UP             &kp RIGHT      &trans             &trans
//    &trans       &kp SE_QMARK    &kp SE_GRAVE  &kp SE_CARET  &kp KP_MULTIPLY    &kp SE_BSLH       &trans          &trans          &trans             &trans         &trans             &trans
// 				              &trans        &trans             &kp TAB           &trans          &trans          &trans
// )

ZMK_LAYER(misc_layer,
// ╭─────────────────────────┬─────────────────────────┬─────────────────────────┬─────────────────────────┬─────────────────────────┬───────────────────────╮   ╭─────────────────────────┬─────────────────────────┬─────────────────────────┬─────────────────────────┬─────────────────────────┬───────────────────────╮
      &trans                    &trans                    &trans                    &trans                    &trans                    &trans                      &trans                    &kp C_PP                  &trans                    &trans                    &trans                    &trans                
// ├─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼───────────────────────┤   ├─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼───────────────────────┤
      &trans                    &bt BT_SEL 1              &bt BT_SEL 2              &bt BT_SEL 3              &bt BT_SEL 4              &bt BT_SEL 5                &kp C_PREV                &kp C_VOL_DN              &kp C_VOL_UP              &kp C_NEXT                &trans                    &trans                
// ├─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼───────────────────────┤   ├─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┼───────────────────────┤
      &trans                    &bt BT_CLR                &trans                    &tog SWERTY               &trans                    &trans                      &trans                    &trans                    &trans                    &trans                    &trans                    &trans                
// ╰─────────────────────────┴─────────────────────────┴─────────────────────────┼─────────────────────────┼─────────────────────────┼───────────────────────╮   ╭─────────────────────────┼─────────────────────────┼─────────────────────────┼─────────────────────────┴─────────────────────────┴───────────────────────╯
                                                                                    &kp LGUI                  &trans                    &trans                      &trans                    &trans                    &trans               
//                                                                               ╰─────────────────────────┴─────────────────────────┴───────────────────────╯   ╰─────────────────────────┴─────────────────────────┴─────────────────────────╯
)
